@charset "UTF-8";

/* ==========================================================================
   各種（モジュール）
   ========================================================================== */
/**
 * グローバルナビゲーション
 * .l-gnav
 */
.l-gnav {
	ul {
		margin: 0;
	}
}
.gnav { // ul
	margin: 0;
	font-weight: bold;
	a {
		display: block;
		padding: 6px 18px 6px 10px;
		border-top: 4px $bgcolor01 solid;
		&:link {
			color: #000;
		}
		&:visited {
			color: #000;
		}
		&:hover {
			color: $color03;
		}
		&:active {
			color: $color03;
		}
	}
	li {
		float: left;
		margin: 0 0 0 20px;
	}
	.gnav-low { // li
		position: relative;
		text-align: left;
		a {
			background-image: url(../img/item-icon10.png);
			background-repeat: no-repeat;
			background-position: 94% .9em;
		}
		ul {
			position: absolute;
			top: 100%;
			z-index: 10;
			li {
				float: none;
				background-color: #fff;
				margin: 0;
				padding: 0 4px;
				white-space: nowrap;
				a {
					background-image: none;
					padding: 10px 6px;
					border: none;
					border-bottom: 1px #e7e7e7 solid;
				}
				&:last-child {
					border-bottom: 4px #2aacc8 solid;
					a {
						border: none;
					}
				}
			}
		}
	}
	.sfHover {
		background-color: #fff;
		a {
			border-top: 4px #2aacc8 solid;
		}
	}
}
@media ( max-width: $break-midium ) {
.gnav {
	text-align: center;
	> li {
		display: inline-block;
		float: none;
	}
}
}
@media ( max-width: $break-midiumsmall ) {
.gnav {
	text-align: left;
	a {
		padding: 10px 24px 6px 18px;
	}
	li {
		display: block;
		margin: 0;
	}
	.gnav-low {
		ul {
			position: static;
		}
	}
}
}
/**
 * メインビジュアル
 * .l-mainvisual
 */
#mainvisual-slider {
	a {
		&:focus {
			outline: dotted thin #ff7c5f;
		}
	}
}
@media ( max-width: $break-midium ) {
.l-mainvisual {
	img {
		@include img;
	}
}
}
/**
 * サービス
 * .l-availabe
 */
@media ( max-width: $break-midium ) {
.l-available {
	padding: 20px 0 10px;
}
}
.available-item {
	float: left;
	width: 230px - 4px;
	padding: 0 26px 0 0;
	.available-item-title {
		background-repeat: no-repeat;
		background-position: left center;
		height: 3em;
		padding: 22px 0 0 50px;
		font-size: r-size(15,14);
	}
	.available-item-more {
		background-image: url(../img/item-icon11.png);
		background-repeat: no-repeat;
		background-position: left center;
		padding: 0 0 0 14px;
	}
}
@media ( max-width: $break-midium ) {
.available-item {
	float: none;
	width: 100% - 4%;
	margin: 0 0 40px 0;
	padding: 0 2% 0;
}
}
.available-item-v4 {
	padding: 0;
}
@media ( max-width: $break-midium ) {
.available-item-v4 {
	padding: 0 2% 0;
}
}
.available-item-title {
	.available-item-v1 & {
		background-image: url(../img/item-icon01.png);
	}
	.available-item-v2 & {
		background-image: url(../img/item-icon02.png);
	}
	.available-item-v3 & {
		background-image: url(../img/item-icon03.png);
	}
	.available-item-v4 & {
		background-image: url(../img/item-icon04.png);
	}
}
/**
 * 下部コンテンツ
 */
.latestworks {
	margin: 0 0 20px 0;
	padding: 10px 0 20px 0;
	border-bottom: 1px #dfe1e5 solid;
}
#works-slider {
	position: relative;
	a {
		&:focus {
//			outline: dotted thin #ff7c5f;
		}
	}
	img {
		@include img;
	}
	.works-slider-item {
		margin: 2px;
	}
	.owl-controls {
		position: absolute;
		top: -60px;
		right: 0;
		margin: 0;
		.owl-prev,
		.owl-next {
			background-color: #fff;
			background-repeat: no-repeat;
			border-radius: 0;
			opacity: 1;
			margin: 7px;
			padding: 0 20px 4px 0;
			text-indent: -9999px;
		}
		.owl-prev {
			background-image: url(../img/item-icon06.png);
		}
		.owl-next {
			background-image: url(../img/item-icon07.png);
		}
	}
}
.contentsbottom-title {
	background-repeat: no-repeat;
	background-position: left center;
	padding: 16px 0 16px 40px;
	font-size: r-size(15,14);
}
/* LATEST WORKS */
.contentsbottom-title-v1 {
	background-image: url(../img/item-icon05.png);
	margin: 0 0 20px 0;
	border-bottom: 1px #dfe1e5 solid;
}
/* TESTIMONIALS */
.contentsbottom-title-v2 {
	background-image: url(../img/item-icon08.png);
}
/* OUR CLIENTS */
.contentsbottom-title-v3 {
	background-image: url(../img/item-icon09.png);
}
.ceo {
	font-style: italic;
	font-weight: bold;
}
.clients {
	li {
		float: left;
	}
}
.download {
	background-color: #e8fcfe;
	border: 1px #81e4ed solid;
	padding: 20px 0 20px 0;
	font-size: r-size(16,14);
	.download-txt {
		float: left;
		width: 64%;
		margin: 1em 4% 1em 4%;
	}
	.download-btn {
		float: left;
		width: 28%;
	}
}
@media ( max-width: $break-midium ) {
.download {
	.download-txt {
		float: none;
		width: 100% - 4%;
		margin: 0;
		padding: 0 2%;
	}
	.download-btn {
		float: none;
		width: 100%;
		text-align: center;
	}
}
}
/**
 * 下層ページ コンテンツ
 */
.pagetitle {
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0 0 20px 0;
	padding: 10px 0 10px 40px;
	font-size: r-size(15,14);
	border-bottom: 1px #dfe1e5 solid;
}
.pagetitle-v1 {
	background-image: url(../img/item-icon13.png);
}
.pagetitle-v2 {
	background-image: url(../img/item-icon14.png);
}
.contactform {
	.contactform-title {
		margin: 0 0 .5em 0;
	}
	.contactform-input {
		margin: 0 0 1em 0;
		input {
			width: 80%;
			padding: .5em;
		}
		textarea {
			width: 80.5%;
			height: 10em;
			padding: .5em;
		}
	}
	.contactform-submit {
		input {
			margin: 0 0 0 -2px;
		}
	}
}
@media ( max-width: $break-midium ) {
.contactform {
	.contactform-input {
		input,
		textarea {
			font-size: r-size(16,14);
		}
	}
}
}
@media ( max-width: $break-midiumsmall ) {
.contactform {
	.contactform-input {
		input {
			width: 98.5% - 2%;
			padding: 1%;
		}
		textarea {
			width: 99% - 4%;
			padding: 2%;
		}
	}
}
}
/* アクセス地図 */
.map {
	margin: 0 0 40px 0;
	.map-inner {
		width: 100%;
		height: 300px;
	}
}
@media ( max-width: $break-midiumsmall ) {
.map {
	.map-inner {
		height: 200px;
	}
}
}
/* オフィスアドレス */
.officeadd {
	dt {
		font-weight: bold;
	}
}
/* ポートフォリオ カテゴリー */
.category {
	margin: 0 0 30px 0;
	border-bottom: 1px #dfe1e5 solid;
	ul {
		margin: 20px 0;
	}
	li {
		float: left;
		padding: 1em 2em;
		&:hover {
			background-color: $color04;
			cursor: pointer;
		}
		&.is-category {
			background-color: #81e4ed;
		}
	}
}
@media ( max-width: $break-midiumsmall ) {
.category {
	li {
		width: 6em;
		padding: 1em .8em;
		text-align: center;
	}
}
}
@media ( max-width: $break-small ) {
.category {
	li {
		box-sizing: border-box;
		width: 50% - 2%;
		padding: 1em 1%;
	}
}
}
/* ポートフォリオ 各事例 */
.isotope {
	padding: 0 0 40px 0;
	border-bottom: 1px #dfe1e5 solid;
	.isotope-item {
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		width: 25%;
		padding: 1%;
		a {
			display: block;
		}
		img {
			@include img;
		}
	}
}
@media ( max-width: $break-midium ) {
.isotope {
	.isotope-item {
		width: (100% / 3);
	}
}
}
@media ( max-width: $break-small ) {
.isotope {
	.isotope-item {
		width: (100% / 2);
	}
}
}
/* ポートフォリオカテゴリーページネーション */
.pagenation {
	text-align: center;
	li {
		display: inline-block;
		&.is-page a {
			background-color: $color04;
		}
		&.pagenation-last a,
		&.pagenation-next a {
			color: #2aacc8;
			background-color: #e8ebf1;
			&:hover {
				color: #e8ebf1;
				background-color: #2aacc8;
			}
		}
		&.pagenation-last {
			margin: 0 1em 0 0;
		}
	}
	a {
		display: block;
		width: 2em;
		padding: .5em 0;
		color: #000;
		&:hover {
			background-color: $color04;
		}
	}
}
/**
 * フッター
 * .l-footer
 */
.footer-item {
	float: left;
	.footer-item-title {
		font-size: r-size(15,14);
	}
}
@media ( max-width: $break-midium ) {
.footer-item {
	float: none;
}
}
.footer-item-v1 {
	width: 30% - 3% - 1%;
	margin: 0 3% 0 1%;
}
.footer-item-v2 {
	width: 14.8% - 2%;
	margin: 0 2% 0 0;
}
.footer-item-v3 {
	width: 16.8% - 2%;
	margin: 0 2% 0 0;
}
.footer-item-v2,
.footer-item-v3 {
	li {
		margin: 0 0 .8em 0;
	}
}
.footer-item-v4 {
	width: 19.2% - 2%;
	margin: 0 1% 0 0;
	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 0 1em 0;
	}
	address {
		font-style: normal;
	}
}
.footer-item-v5 {
	width: 19.2%;
	li {
		float: left;
		width: 53px;
		margin: 0 16px 10px 0;
		&.mr0 {
			margin: 0 0 10px 0;
		}
	}
}
@media ( max-width: $break-midium ) {
.footer-item-v1,
.footer-item-v2,
.footer-item-v3,
.footer-item-v4,
.footer-item-v5 {
	width: 100%;
	margin: 0 0 40px 0;
}
}
.l-footer-copyright {
	.l-footer-copyright-logo {
		padding: 0 0 40px;
	}
}
@media ( max-width: $break-midium ) {
.l-footer-copyright {
	.l-footer-copyright-logo {
		display: block;
		padding: 20px 0 40px;
		text-align: center;
	}
}
}
